
@import "../variables";
@import "../mixins";

// An action button
.button-primary {
  @include button();

  color: var(--lm-accent-primary);
  border: 2px solid var(--lm-accent-primary);
  white-space: nowrap;
  background-color: transparent;
  font-size: $font-size-md;
  line-height: 1.35rem;
  background-image: none;

  &:hover {
    border-color: var(--lm-bg-accent);
    background-color: var(--lm-bg-accent);
  }
}

// Small row of social media buttons
.follow-buttons {
  display: flex;
  flex-direction: row;
  column-gap: $space-md;
  width: min-content;
}
