{{ define "main" }}

    {{ partial "breadcrumbs" . }}

    <section class="page-content news {{ path.BaseName . }}">
        <h1>{{ .Title }}</h1>

        {{ with .Resources.GetMatch .Params.Image }}
        <picture class="news-image">
            {{ with .Resize (printf "%dx%d jpeg" .Width .Height) }}
            <source srcset="{{ .RelPermalink }}" type="image/jpeg">
            {{ end }}
            {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
            <source srcset="{{ .RelPermalink }}" type="image/webp">
            {{ end }}
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
        </picture>
        {{ end }}

        {{ $dateShort := .PublishDate | time.Format "02/01/2006" }}
        {{ $dateLong := .PublishDate | time.Format ":date_long" }}
        <time class="news-date" datetime="{{ $dateShort }}">
            <a class="permalink" href="{{ .RelPermalink }}">
                {{ $dateLong }}
            </a>
        </time>

        {{ .Content }}
    </section>
{{ end }}