<ul class="menu-2 footer-menu">
    {{ $page := .}}
    <li class="footer-menu-item">
        {{ range .Site.Menus.main }}
            {{ if eq .Identifier "services" }}
                <a href="{{ .PageRef | relLangURL }}">{{ or (T .Identifier) .Name | safeHTML }}</a>
            {{ end }}
        {{ end }}
        <ul class="footer-submenu">
            {{- range site.Menus.services }}
            <li class="footer-menu-item footer-submenu-item">
                <a target="_blank" href="{{ .PageRef | relURL }}">{{ or (T .Identifier) .Name | safeHTML }}</a>
            </li>
            {{ end }}
        </ul>
    </li>
</ul>
