<ul class="menu-3 footer-menu">
    {{ $page := .}}
    <li class="footer-menu-item">
        {{ range .Site.Menus.main }}
            {{ if eq .Identifier "contact" }}
                <a href="{{ .PageRef | relLangURL }}">{{ or (T .Identifier) .Name | safeHTML }}</a>
            {{ end }}
        {{ end }}
        <div class="contact-card">
            <header class="contact-name">
                <a href="mailto:{{ site.Params.contactEmail }}">
                    {{ site.Params.contactName }}
                </a>
            </header>
            <a href="mailto:{{ site.Params.contactEmail }}">
                <i class="fa-regular fa-fw fa-envelope"></i>
                {{ site.Params.contactEmail }}
            </a>
        </div>
    </li>
</ul>

