<ul class="latest-cards">
    <!-- Ranges through content/posts/*.md -->
    {{ range (where .Site.Pages "Section" "news") }}
        {{ range first 3 .Pages }}
        <li>
            {{ partial "latest-card.html" (dict "url" .RelPermalink "title" .LinkTitle "content" .Summary "id" .Params.id) }}
        </li>
        {{ end }}
    {{ end }}

    {{ $key := printf "latest.%s" .Language }}
    {{ $data := index site.Data $key }}
    {{ if $data }}
        {{ range $data }}
        <li>
            {{ partial "latest-card" . }}
        </li>
        {{ end }}
    {{ end }}

</ul>
