<div class="social">
    <div class="follow-buttons">
        <a class="follow-button" href="{{ site.Params.facebookUrl }}" title="{{ i18n "social_facebook_follow" }}">
            <i class="fa-brands fa-2x fa-facebook-f" aria-hidden="true"></i>
            <span class="sr-only">{{ i18n "social_facebook" }}</span>
        </a>

        <a class="follow-button" href="{{ site.Params.twitterUrl }}" title="{{ i18n "social_x_follow" }}">
            <i class="fa-brands fa-fw fa-2x fa-x-twitter" aria-hidden="true"></i>
            <span class="sr-only">{{ i18n "social_x" }}</span>
        </a>
    </div>
</div>

